html {
    font-size: 18px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .75) 100%), url("../img/bg.jpg") center center no-repeat fixed;
    background-size: cover, cover;
    color: white;
}

main {
    flex: 1;
}

h1,
h2 {
    // font-family: 'Amatic SC';
}

.outer {
    max-width: 1140px;
}

footer>p {
    margin: 0;
}

// Vars
$border-radius: 4px;
$card-font-size: 17px;
$bg-color-active: #5b5b5b;
$font-color-active: #fff;
$bg-color: #bfbfbf;
$bg-color-container: #fff;
$bg-color-round: #dc3545;

h6 {
    font-size: $card-font-size;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    @extend %transition;
}

a {
    text-decoration: none;
    color: #38fedb;

    &:visited {
        color: #38fedb;
    }

    &:hover {
        text-decoration: underline;
    }
}

.span {
    border-radius: $border-radius;
    padding: 0 0.2rem;

    &--a {
        background-color: $font-color-active;
        color: black;
    }

    &--b {
        background-color: $bg-color-round;
        color: white;
    }
}

.text {
    &-indent {
        text-indent: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-bold {
        font-weight: bold;
    }
}

// UL
.list-counter-square {
    list-style: none;
    counter-reset: list;
    margin: 0;
    // padding: 0;
    overflow: hidden;
}

.list-counter-square>ol {
    position: relative;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-left: 2rem;
    margin-bottom: .6rem;
    padding-left: .8rem;
    padding-right: .5rem;
    // background: rgb(27, 27, 27);
    white-space: nowrap;
}

.list-counter-square>ol:last-child {
    margin-bottom: 1rem;
}

.list-counter-square>ol::before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    left: -2rem;
    top: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    box-sizing: content-box;
}

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}

.hidden {
    display: none !important;
}

@keyframes anim-in {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

%bootstrap-border {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: $border-radius;
}

%transition {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, opacity .15s ease-in-out;
}

/*
|--------------------------------------------------------------------------
| Control
|--------------------------------------------------------------------------
*/
$container-bg-color: #1b1b1b;
$border-container: 16px solid $container-bg-color;
$border-y: 32px solid $container-bg-color;

.round-container {
    text-align: center;
    position: relative;
    background-color: #1b1b1b;
    border: $border-container;
    border-bottom: $border-y;
    border-top: $border-y;
}

$btn-round-sze: 100px;

.btn-round {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 50%;
    width: $btn-round-sze;
    height: $btn-round-sze;
    border: 6px rgb(122, 31, 40) solid;
    background-color: $bg-color-round;
    color: white;
    text-transform: uppercase;
    @extend %transition;

    &:hover {
        background-color: #c82333;
    }

    &-num {
        font-size: 1.8rem;
        line-height: 100%;
    }
}

$btn-restart-size: 32px;

.btn-restart {
    position: absolute;
    // margin: 0 auto;
    top: 0;
    //left: 0;
    right: 0;
    background: url("../img/update-arrows.png");
    width: $btn-restart-size;
    height: $btn-restart-size;
    opacity: .6;
    border: none;
    @extend %transition;

    &:hover {
        opacity: 1;
    }
}

/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
*/
.card-containter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 16px;
    justify-items: center;
    background-color: $bg-color;
    border: $border-container;
    border-top: 0;
}

.card {
    display: flex;
    flex-direction: column;
    user-select: none;
    animation: .5s anim-in ease-in-out;
    border: none;
    color: black;
    overflow: hidden;
    @extend %transition;
}

// CONTROL
.card-control-container {
    padding: 6px;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.btn-close {
    height: 32px;
    width: 32px;
    background-size: 20px;
    box-sizing: border-box;
    @extend %transition;

    &:focus {
        box-shadow: none;
    }
}

// CONTENT
.card-content-container {
    background-color: $bg-color-container;
    padding: 16px;
    position: relative;
}

.card-container-indent {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

// ROUND STATUS
$btn-status-width: 102px;
$card-status-size: 38px;

.card-status-container {
    display: flex;
    width: 100%;
    background: $bg-color;
    border-radius: $border-radius;
}

%border-sides {
    &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    &:not(:first-child) {
        margin-left: -1;
    }
}

.card-status {
    font-size: $card-font-size !important;
    color: #212121;
    font-weight: bold;
    text-align: center;
    width: $card-status-size;
    height: $card-status-size;
    line-height: $card-status-size;
    border: 1px solid rgba(0, 0, 0, .125);
    animation: .2s anim-in ease-in-out;
    cursor: pointer;
    @extend %border-sides;
}

.card-status-active {
    position: relative;

    &::before {
        width: 100%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border: 18px solid transparent;
        border-top: 10px solid $bg-color-active;
    }
}

// BUTTON
.card-btn-container {}

.btn-status {
    width: $btn-status-width;
    height: $card-status-size;
    color: black;
    font-size: $card-font-size !important;
    background-color: $bg-color;
    border: 1px solid rgba(0, 0, 0, .125);
    overflow: hidden;
    word-wrap: normal;

    &:hover {
        color: $font-color-active;
        background-color: $bg-color-active;
        border-color: $bg-color-active;
    }

    // overwrite bootsrap props
    .btn-check:focus+&,
    &:focus {
        box-shadow: none;
        background-color: $bg-color-active;
    }

    .btn-check:checked+&,
    .btn-check:active+&,
    &:active,
    &.active {
        color: $font-color-active;
        background-color: $bg-color-active;
        box-shadow: none;
        border-color: $bg-color-active;

        &:focus {
            box-shadow: none;
        }
    }
}

// STATUS
.card-verdict-container {
    display: flex;
    width: 100%;
}

.btn-verdict {
    flex-grow: 1;
    position: relative;
    height: $card-status-size;
    background: $bg-color;
    border: 1px solid rgba(0, 0, 0, .125);
    @extend %border-sides;
    @extend %transition;

    &:hover {
        background-color: $bg-color-active;
    }
}

/* uncss:ignore start */
.btn-overlay-killed {
    &:hover {
        &::before {
            @extend %base-overlay;
            background-image: url("../img/killed.png");
        }
    }

    &::before {
        @extend %base-overlay;
        background-image: url("../img/killed-w.png");
    }
}

.btn-overlay-ejected {
    &:hover {
        &::before {
            background-image: url("../img/ejected.png");
        }
    }

    &::before {
        @extend %base-overlay;
        background-image: url("../img/ejected-w.png");
    }
}

.btn-overlay-impostor {
    &:hover {
        &::before {
            background-image: url("../img/impostor.png");
        }
    }

    &::before {
        @extend %base-overlay;
        background-image: url("../img/impostor-w.png");
    }
}

.btn-overlay-crewmate {
    &:hover {
        &::before {
            background-image: url("../img/crewmate.png");
        }
    }

    &::before {
        @extend %base-overlay;
        background-image: url("../img/crewmate-w.png");
    }
}

%base-overlay {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// OVERLAY
%card-overlay {
    animation: .2s anim-in ease-in-out;
    z-index: 2;
}

$overlay-opacity: .65;

.overlay-killed {
    &::before {
        @extend %base-overlay;
        @extend %card-overlay;
        background: url("../img/killed.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
    }
}

.overlay-ejected {
    &::before {
        @extend %base-overlay;
        @extend %card-overlay;
        background: url("../img/ejected.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
    }
}

.overlay-impostor {
    &::before {
        @extend %base-overlay;
        @extend %card-overlay;
        background: url("../img/impostor.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
    }
}

.overlay-crewmate {
    &::before {
        @extend %base-overlay;
        @extend %card-overlay;
        background: url("../img/crewmate.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
    }
}

.overlay-close {
    &::before {
        @extend %base-overlay;
        @extend %card-overlay;
        background: rgba(0, 0, 0, .65) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    }
}

/* uncss:ignore */

// COLOR PANELE
$color-close-width: 44px;

.color-container {
    display: flex;
    flex-wrap: wrap;
    width: $color-close-width*6;
}

.color-close {
    width: $color-close-width;
    height: $color-close-width;
    position: relative;

    &:hover {
        &::before {
            @extend %color-close;
        }
    }

    &::before {
        cursor: pointer;
        opacity: $overlay-opacity;
        animation: .2s anim-in-close ease-in-out;
    }
}

@keyframes anim-in-close {

    from {
        opacity: 0;
    }

    to {
        opacity: $overlay-opacity;
    }
}

%color-close {
    @extend %base-overlay;
    background-size: contain !important;
    border: 6px solid transparent;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    background-color: rgba(0, 0, 0, .125);
}

.color-closed {
    &::before {
        @extend %color-close;
        // cursor: initial;
        opacity: .9;
        animation: none;
    }
}