body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;

    // overlay
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: radial-gradient(circle, rgba(0, 40, 91, 1) 24%, rgba(0, 0, 0, 1) 53%);
        // background-color: #000;
        opacity: .6;
        z-index: -1;
    }
}

main {
    flex: 1;
}

.outer {
    margin: 0 auto;
    max-width: 1024px;
    padding: 24px;
}

footer {
    padding: 16px 0;
    // background-color: #f5f5f5;
    text-align: center;
}

%bootstrap-border {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

button {
    @extend %bootstrap-border;
}

p,
h1 {
    color: #efefef;
}

a {
    text-decoration: none;
    color: #38fedb;

    &:visited {
        color: #38fedb;
    }

    &:hover {
        text-decoration: underline;
    }
}

.p-text {
    margin-bottom: 0;
}

.round-container {
    text-align: center;
    padding-bottom: 24px;
}

.btn-round {
    margin-right: 1em;
}

$card-size: 200px;
$card-round: 24px;

.card-containter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 0.75em 0.75em 0.75em;
    width: $card-size;
    margin: 0.5em;
    user-select: none;
}

.hidden {
    display: none;
}

.btn-close {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    bottom: 0;
    opacity: .25;
    // padding: 0.25em;
    box-sizing: border-box;
}

.card-rounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5em;
}

.card-round {
    width: $card-round;
    height: $card-round;
    line-height: $card-round;
    margin: 0.25em;
    background: white;
    text-align: center;
    @extend %bootstrap-border;
}

//.card-status {}

.btn-status {
    width: 100%;
    text-align: left;
    margin-bottom: 0.25em;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }
}