body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: radial-gradient(circle, rgba(11, 26, 114, 0.6) 24%, rgba(0, 0, 0, .6) 53%), url("../img/bg.jpg") center center no-repeat fixed;
    background-size: cover, cover;
}

main {
    flex: 1;
}

.outer {
    margin: 0 auto;
    max-width: 1024px;
    padding: 2em;
}

footer {
    padding: 16px 0;
    text-align: center;
}

%bootstrap-border {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

button {
    @extend %bootstrap-border;
    transition: all 0.2s ease-in;
}

a {
    text-decoration: none;
    color: #38fedb;

    &:visited {
        color: #38fedb;
    }

    &:hover {
        text-decoration: underline;
    }
}

.p-text {
    margin-bottom: 0;
    color: #efefef;
}

.round-container {
    text-align: center;
    padding-bottom: 2em;
    position: relative;
}


.round-control {
    position: relative;
}

$btn-round-sze: 80px;

.btn-round {
    border-radius: 50%;
    width: $btn-round-sze;
    height: $btn-round-sze;
    background-color: #dc3545;
    color: #efefef;

    &:hover {
        background-color: #c82333;
    }

    &-num {
        font-size: 2em;
        font-weight: bold;
        line-height: 100%;
    }
}

$btn-restart-size: 32px;

.btn-restart {
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/update-arrows.png");
    width: $btn-restart-size;
    height: $btn-restart-size;
    opacity: .6;

    &:hover {
        opacity: 1;
    }
}

$card-size: 200px;
$card-round: 24px;

.card-containter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 0.75em 0.75em 0.75em;
    width: $card-size;
    margin: 0.5em;
    user-select: none;
}

.hidden {
    display: none;
}

.btn-close {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    bottom: 0;
    opacity: .25;
    // padding: 0.25em;
    box-sizing: border-box;

    &:focus {
        box-shadow: none;
    }
}

.card-rounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5em;
}

.card-round {
    width: $card-round;
    height: $card-round;
    line-height: $card-round;
    margin: 0.25em;
    background: white;
    text-align: center;
    @extend %bootstrap-border;
}

//.card-status {}

.btn-status {
    width: 100%;
    text-align: left;
    margin-bottom: 0.25em;
    cursor: pointer;

    &:hover {
        background-color: #d3d3d3;
    }

    &:last-child {
        margin-bottom: 0;
    }
}