body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: radial-gradient(circle, rgba(11, 26, 114, 0.6) 24%, rgba(0, 0, 0, .6) 53%), url("../img/bg.jpg") center center no-repeat fixed;
    background-size: cover, cover;
}

main {
    flex: 1;
}

.outer {
    margin: 0 auto;
    max-width: 1024px;
    padding: 2em;
}

footer {
    padding: 16px 0;
    text-align: center;
}

%bootstrap-border {
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.btn-status {
    @extend %bootstrap-border;
    transition: 0.2s ease-in;
    //background-color: #efefef;
}

a {
    text-decoration: none;
    color: #38fedb;

    &:visited {
        color: #38fedb;
    }

    &:hover {
        text-decoration: underline;
    }
}

.p-text {
    margin-bottom: 0;
    color: #efefef;
}

.hidden {
    display: none !important;
}

@keyframes anim-in {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*
|--------------------------------------------------------------------------
| Control
|--------------------------------------------------------------------------
*/
.round-container {
    text-align: center;
    padding-bottom: 2em;
    position: relative;
}

$btn-round-sze: 86px;

.btn-round {
    border-radius: 50%;
    width: $btn-round-sze;
    height: $btn-round-sze;
    border: 6px rgb(122, 31, 40) solid;
    background-color: #dc3545;
    color: #efefef;
    transition: 0.2s ease-in;

    &:hover {
        background-color: #c82333;
    }

    &-num {
        font-size: 2em;
        font-weight: bold;
        line-height: 100%;
    }
}

$btn-restart-size: 32px;

.btn-restart {
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/update-arrows.png");
    width: $btn-restart-size;
    height: $btn-restart-size;
    opacity: .6;
    border: none;
    transition: 0.2s ease-in;

    &:hover {
        opacity: 1;
    }
}

/*
|--------------------------------------------------------------------------
| Card
|--------------------------------------------------------------------------
*/
$card-size: 200px;
$card-round: 24px;

.card-containter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em 0.75em 0.75em 0.75em;
    width: $card-size;
    margin: 0.5em;
    user-select: none;
    animation: .5s anim-in ease-in;
}

%overlay {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: .25rem;
    animation: .2s anim-in ease-in;
}

$overlay-opacity: .7;

.overlay-killed {
    &::before {
        @extend %overlay;
        background: url("../img/killed.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
        /*         border: 1px red solid;
        box-sizing: content-box;
        background-clip: border-box; */
    }
}

.overlay-ejected {
    &::before {
        @extend %overlay;
        background: url("../img/ejected.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
    }
}

.overlay-impostor {
    &::before {
        @extend %overlay;
        background: url("../img/impostor.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
    }
}

.overlay-crewmate {
    &::before {
        @extend %overlay;
        background: url("../img/crewmate.png") center center no-repeat, rgba(0, 0, 0, $overlay-opacity);
    }
}

.btn-close {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    bottom: 0;
    opacity: .25;
    // padding: 0.25em;
    box-sizing: border-box;

    &:focus {
        box-shadow: none;
    }
}

.card-rounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5em;
}

.card-round {
    width: $card-round;
    height: $card-round;
    line-height: $card-round;
    margin: 0.25em;
    background: #efefef;
    text-align: center;
    @extend %bootstrap-border;
    animation: .2s anim-in ease-in;
}

//.card-status {}

.btn-status {
    width: 100%;
    text-align: left;
    margin-bottom: 0.25em;
    cursor: pointer;

    &:hover {
        background-color: #d3d3d3;
    }

    &:last-child {
        margin-bottom: 0;
    }
}